<form class="text-[34px]" action="<%= action %>" method="post">
  <div>
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName" value="<%=  user.firstName %>" />
  </div>
  <div>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName" value="<%=  user.lastName %>" />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="<%=  user.email %>" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value="<%=  user.password %>" />
  </div>
  <div>
    <label for="role">Role</label>
    <select name="role" id="role" value="<%=  user.role %>">
      <% ["cashier", "book-keeper" , "owner" ].forEach(role=>{%>
        <option value="<%= role %>">
          <%= role %>
        </option>
        <%}); %>
    </select>
  </div>
  <button type="submit">
    <%=btnText%>
  </button>
</form>